<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title">Vehicles</div>
        <div class="ml-md-auto">
          <a href='create' class='btn btn-primary btn-round float-right'>Add Vehicle</a>
        </div>
      </div>
      <div class="card-body daterangepickerbody">
        <div class="table-responsive">
        <table class="display table table-striped table-hover dataTable vehicle-table">
          <thead>
            <tr>
              <th>Make</th>
              <th>Date Created</th>
              <th>Model</th>
              <th>License Plate</th>
              <th>Driver</th>
              <th>Location</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% vehicles.forEach(function(vehicle){%>
            <tr data-record="<%= vehicle.id %>">
              <th scope="row"><%=vehicle.vehicleMake%></th>
              <td><%=helpers.formatDate(vehicle.createdAt)%></td>
              <td><%=vehicle.model%></td>
              <td><%=vehicle.registration%></td>
              <td><%=vehicle.driver.firstName + ' ' + vehicle.driver.lastName%></td>
              <td><%=vehicle.location%></td>
              <td>
                <a href='manage/<%=vehicle.id%>/get'><i class="fas fa-user-edit"></i></a>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% block('scripts').append('<script src="/js/fleet/vehicle/list.js"></script>')%>