<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title"><%= title %></div>
       
      </div>
      <div class="card-body">
        <table class="display table table-striped table-hover dataTable zone-table ">
          <thead>
            <tr>
              <th>Date</th>
              <th>Awb Number</th>              
              <th>Invoice</th>
            </tr>
          </thead>
          <tbody>
            <% invoices.forEach(invoice => { %>
            <tr data-record="<%=invoice._id%>">
              <td><%= helpers.formatDate(invoice.createdAt)%></td>
              <td><%=invoice.awbId.awbId%></td>
              <td><a href="<%=invoice.fileName%>" target="_blank">Invoice</td>                            
              
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>