<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title"><%= title %></div>
       
      </div>
      <div class="card-body daterangepickerbody">
        <div class="table-responsive">
        <table class="display table table-striped table-hover dataTable invoice-table ">
          <thead>
            <tr>
              <th>Awb Number</th>              
              <th>Date</th>
              <th>Invoice</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% invoices.forEach(invoice => { %>
            <tr data-record="<%=invoice._id%>">
              <td><a class="text-decoration-none" href="/warehouse/nas/awb/manage/<%=invoice.awbId ? invoice.awbId._id: '#'%>/preview"><%= invoice.awbId.awbId %> </a></td>
              <td><%= helpers.formatDate(invoice.createdAt)%></td>
              <td><a href="JavaScript:Void(0);"  onclick="downloadInvoice('<%=invoice.fileName%>')">Invoice</td>                          
              <td><a href="JavaScript:Void(0);"  onclick="deleteInvoice('<%=invoice.fileName%>','<%=invoice._id%>')"><i class="fa fa-trash"></i></td>                          
              
            </tr>
            <% }) %>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/admin/invoice/list.js"></script>')%>