<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title"><%=title%></div>
        <a href='create' class='btn btn-primary btn-round float-right ml-md-auto'>Add Shipper</a>
      </div>
      <div class="card-body daterangepickerbody">
        <div class="table-responsive">
          <input type="hidden" name="daterange" id="daterange" value="<%=daterange%>">
          <input type="hidden" name="clear" id="clear" value="<%=clear%>">
          <table id="shipperTable" class="display dataTable table table-striped table-hover">
            <thead>
              <tr>
                <!-- <th>ID</th> -->
                <th>Name</th>
                <th>Date Created</th>
                <th>Contact Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <!-- <th>Fax</th> -->
                <th>Address</th>
                <!-- <th>State</th> -->
                <!-- <th>Country</th> -->
                <!-- <th>ZipCode</th> -->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% shippers.forEach(function(shipper){%>
              <tr data-record="<%= shipper.id %>">
                <td><strong><%=shipper.name%></strong></td>
                <td><%=helpers.formatDate(shipper.createdAt)%></td>
                <td><%=helpers.getFullName(shipper)%></td>
                <td><%=shipper.email%></td>
                <td><%=shipper.telephone %></td>
                <!-- <td><%=shipper.fax %></td> -->
                <td><%=shipper.address %></td>
                <!-- <td><%=shipper.state %></td> -->
                <!-- <td><%=shipper.country %></td> -->
                <!-- <td><%=shipper.zipcode %></td> -->
                <td>
                  <a href='manage/<%=shipper.id%>/get'><i class="fas fa-pen"></i></a>
                  <!-- temporary commenting the code -->
                  <a href='#' class='rm-shipper ml-3' data-id='<%=shipper.id%>'><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/warehouse/shipper/list.js"></script>')%>