<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title">System Users</div>
        <a href='create' class='btn btn-primary btn-round float-right ml-md-auto'>Add User</a>
      </div>
      <div id="myLoader"><img src="/img/preloader.gif"></div>
      <div class="card-body daterangepickerbody">
        <input type="hidden" name="clear" id="clear" value="<%=clear%>">
        <div class="table-responsive">
        <table class="display table table-striped dateRangeFilterTable table-hover dataTable user-table">
          <thead>
            <tr>
              <th>Role</th>
              <th>Date Created</th>
              <th>Username</th>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(function(user){%>
            <tr data-record="<%= user.username %>">
              <td scope="row">
                <% if (user.roles.length) {user.roles.forEach(function(role, roleIndex){%>
                  <%=role.type%>
                  <% if ((roleIndex + 1) !== user.roles.length){ %>
                    <spna>,<span>
                  <% }%>
                <%})}%>
              </td>
              <td><%=helpers.formatDate(user.createdAt)%></td>
              <td><%=user.username%></td>
              <td><%=helpers.getFullName(user)%></td>
              <td><%=user.email%></td>
              <td><%=user.mobile %></td>
              <td>
                <% if (!user.enabled){ %>
                <span class='badge badge-danger'>Inactive</span>
                <% } else { %>
                <span class='badge badge-info'>Active</span>
                <% } %>
              </td>
              <td>
                <a href='manage/<%=user.username%>/get'><i class="fas fa-user-edit"></i></a>
                <!-- temporary commenting the code -->
                <!-- <a href='#' class='rm-user' data-id='<%=user.username%>'><i class="fas fa-trash"></i></a> -->
                <% if (!user.enabled){ %>
                <a href='#' class='enableUser' data-id='<%=user.username%>' data-value='true'> <span
                    class='badge badge-info float-right'>Enable</span></a>
                <% } else {%>
                <a href='#' class='enableUser' data-id='<%=user.username%>' data-value='false'> <span
                    class='badge badge-danger float-right'>Disable</span> </a>
                <% } %>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/admin/user/list.js"></script>')%>