<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title"><%= title %></div>
        <a href='create' class='btn btn-primary btn-round float-right ml-md-auto'>Create Manifest</a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
        <table class="display table table-striped table-hover dataTable manifest-table">
          <thead>
            <tr>
              <th>Manifest ID#</th>
              <th>Date Created</th>
              <th>Status</th>
              <th>Plane</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% manifests.forEach(function(manifest){ %>
            <tr data-record="<%= manifest.id %>">
              <td><strong><%= manifest.title%></strong></td>
              <td><%= helpers.formatDate(manifest.createdAt) %></td>
              <td>
                <% if (manifest.stageId == 1 ) { %>
                <span class="badge badge-secondary"><%=manifest.stage %></span>
                <% } else if(manifest.stageId == 2) { %>
                <span class="badge badge-default"><%=manifest.stage %></span>
                <% } else if(manifest.stageId == 3) { %>
                <span class="badge badge-warning"><%=manifest.stage %></span>
                <% } else if(manifest.stageId == 4) { %>
                <span class="badge badge-primary"><%=manifest.stage %></span>
                <% } else if(manifest.stageId == 5) { %>
                <span class="badge badge-success"><%=manifest.stage %></span>
                <% } %>
              </td>
              <td><%= manifest.plane && manifest.plane.tailNumber%></td>
              <td class="text-center">
                <a href='manage/<%=manifest.id%>/get' class="btn btn-link btn-primary px-3" data-toggle="tooltip"
                  data-original-title="View Details"> <i class="fa fa-eye"></i> </a>
                <% if(manifest.stageId == 1) { %>
                <a class="btn btn-link btn-danger btn-rm-manifest px-3" data-toggle="modal" data-id="<%=manifest.id%>"
                  data-original-title="Delete" data-target="#confirm-delete-manifest"> <i class="fa fa-trash"></i> </a>
                <% } %>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% block('scripts').append('<script src="/js/warehouse/manifest/list.js"></script>')%>