<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title"><%= title %></div>
        <a href='create' class='btn btn-primary btn-round float-right ml-md-auto'>Create Manifest</a>
      </div>
      <div id="myLoader"><img src="/img/preloader.gif"></div>
      <div class="card-body daterangepickerbody">
          <input type="hidden" name="clear" id="clear" value="<%=clear%>">
          <input type="hidden" name="filter" id="filter" value="<%=filter%>">
        <div class="table-responsive">
        <table class="display table table-striped table-hover dateRangeFilterTable dataTable manifest-table">
          <thead>
            <tr>
              <th>Manifest ID#</th>
              <th>Created At</th>
              <th>Status</th>
              <th>Plane</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% manifests.forEach(function(manifest){ %>
            <tr data-record="<%= manifest.id %>">
              <td><strong><%= manifest.plane &&  manifest.plane.tailNumber%><%= manifest.title%></strong></td>
              <td><%=helpers.formatDate(manifest.createdAt)%></td>
              <td>
                <% if (manifest.stageId == 1 ) { %>
                <span class="badge badge-secondary"><%=manifest.stage %></span>
                <% } else if(manifest.stageId == 2) { %>
                <span class="badge badge-default"><%=manifest.stage %></span>
                <% } else if(manifest.stageId == 3) { %>
                <span class="badge badge-warning"><%=manifest.stage %></span>
                <% } else if(manifest.stageId == 4) { %>
                <span class="badge badge-primary"><%=manifest.stage %></span>
                <% } else if(manifest.stageId == 5) { %>
                <span class="badge badge-success"><%=manifest.stage %></span>
                <% } %>
              </td>
              <td><%= manifest.plane &&  manifest.plane.tailNumber%></td>
              <td class="text-center">
                <a 
                data-toggle="modal"
                data-id="<%=manifest.id%>"
                data-target="#change-manifest-status"
                class="btn btn-link btn-primary btn-manifest-status px-3"><i class="fa fa-edit"></i></a> 
              </td>
              <td class="text-center">
                <a href='manage/<%=manifest.id%>/get' class="btn btn-link btn-primary px-3" data-toggle="tooltip"
                  data-original-title="View Details"> <i class="fa fa-eye"></i> </a>
                <!-- temporary commenting the code -->
                <!-- <% if(manifest.stageId == 1) { %>
                <a class="btn btn-link btn-danger btn-rm-manifest px-3" data-toggle="modal" data-id="<%=manifest.id%>"
                  data-original-title="Delete" data-target="#confirm-delete-manifest"> <i class="fa fa-trash"></i> </a>
                <% } %> -->
              </td>
              <td class="text-center">
                <a href='clone/<%=manifest.id%>/get' class="btn btn-link btn-primary px-3" data-toggle="tooltip"
                  data-original-title="Create Manifest Clone"> <i class="fa fa-clone"></i> </a>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Change Status of Manifest -->
<div
  class="modal fade"
  id="change-manifest-status"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Manifest Status"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog" role="document">
    <form id="change-manifest-status-form" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">ManifestStatus</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" name="mid" hidden id="ManifestIdStatus" />
          <div class="form-group">
            <label for="mstatus">Manifest Status</label>
            <select id="mstatus" name="mstatus" class="form-control" required>
              <option></option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-danger close-del" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/warehouse/manifest/list.js"></script>')%>