<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title"><%= title %></div>
        <a href='create' class='btn btn-primary btn-round float-right ml-md-auto'>Create Manifest</a>
      </div>
      <div class="card-body">
        <table class="display table table-striped table-hover dataTable package-table">
          <thead>
            <tr>
              <th>Manifest ID#</th>
              <th>Status</th>
              <th>Date Created</th>
              <th>Created By</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% manifests.forEach(function(manifest){ %>
            <tr data-record="<%= pkg.id %>">
              <td><%= manifest.id%></td>
              <td><%= manifest.status %></td>
              <td><%= manifest.dateCreated %></td>
              <td><%= manifest.createdBy%></td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% block('scripts').append('<script src="/js/warehouse/manifest/list.js"></script>')%>