<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title"><%=title%></div>
        <button class="btn btn-primary btn-add-cube2 btn-round float-right ml-md-auto"
          data-toggle="modal"
          data-original-title="Add Cube"
          data-target="#addCube2-popup"
        >Add Cube2</button>        
      </div>
      <div class="card-body daterangepickerbody">
        <div class="table-responsive">
          <table id="cubeTable" class="display table dataTable table-striped table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Created At</th>
                <th>Name</th>
                <th>AWB No</th>
                <th>Detail</th>                
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% cubes.forEach(function(cube){ %>
              <tr data-record="<%= cube.id %>">
                <td><%= cube.id %></td>
                <td><%=helpers.formatDate(cube.createdAt)%></td> 
                <td><strong><%=cube.name%></strong></td> 
                <% let cube2link = cube.cubeAwbId ? cube.cubeAwbId.id : ''
                if(cube2link == '') cube2link = '#' 
                else cube2link = '/warehouse/cube/awbDetail/'+cube2link
                %>
                <td><a class="btn btn-link" href="<%=cube2link %>"><%=cube.awbId%></a></td> 
                <!--<td><a href="/warehouse/cube/detail/<%=cube.id%>" data-id='<%=cube.id%>' data-target="#package-cube" data-toggle='modal' class="package-detail" onclick="cubePackaceDetail('<%=cube._id%>')"><i class="fas fa-eye"></i></a></td>              
                -->
                <% 
                let viewCubeLink = (cube.packages.length ? cube.id : '')
                let downloadpdfLink = (cube.packages.length ? cube.id : '')
                  if(downloadpdfLink == '') {
                    viewCubeLink = '#';
                    downloadpdfLink = '#'
                  } 
                  else {
                    viewCubeLink = '/warehouse/cube/detail/'+ downloadpdfLink
                    downloadpdfLink = '/api/printer/download-pdf/cube/'+ downloadpdfLink
                  }
                %>
                <td><a href="<%= viewCubeLink %>" ><i class="fas fa-eye"></i></a></td>
                
                <td class="text-center">
                  <a href="<%= downloadpdfLink %>"><i class="fa fa-download"></i></a>
                  <a
                    class="btn btn-link btn-primary btn-print-pkg"
                    data-toggle="modal"
                    data-id="<%=cube.id%>"
                    data-original-title="Print Label"
                    data-target="#print-popup"
                  ><i class="fa fa-print"></i>
                </a>
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-cube" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" id="add-cube-form">
        <div class="modal-header">
          <h2 class="modal-title">Add Cube</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class='form-group'>
            <label for="name">Name</label>
            <input class='form-control' type='text' placeholder="Name" id='name' name="name" required>
          </div>
          <div class='form-group'>
            <label for="description">Description</label>
            <input class='form-control' type='text' placeholder="Description" id='description' name="description"
              required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class='add-hazmat btn btn-primary'>Add</button>
          <button type="button" class="btn btn-danger close-del" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-cube" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" id="edit-cube-form">
        <div class="modal-header">
          <h2 class="modal-title">Edit Cube</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <input type='hidden' id='edit-cube-id' name="id" required>
          <div class='form-group'>
            <label for="name">Name</label>
            <input class='form-control' type='text' placeholder="Name" id='edit-cube-name' name="name" required>
          </div>
          <div class='form-group'>
            <label for="description">Description</label>
            <input class='form-control' type='text' placeholder="Description" id='edit-cube-description'
              name="description" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class='btn btn-primary'>Update</button>
          <button type="button" class="btn btn-danger close-del" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="package-cube" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <table class="table" id="package-cube-table">
        <tr>
          <th>Number</th>
          <th>Tracking Number</th>
          <th>Description</th>
        </tr>
        <tbody id="package-row">

        </tbody>
      </table>

    </div>
  </div>
</div>

<div
  class="modal fade"
  id="print-popup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="print-popup"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel2">Print Cube Label</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group text-center">
          <canvas id="pdf-preview" class="border border-dark"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger close-del" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary print-package" id="print-package">
          Print
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addCube2-popup" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" id="add-cube2-form">
        <div class="modal-header">
          <h2 class="modal-title">Add Cube2</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="hiddenCubeId" hidden/>
          <div class='form-group'>
            <label for="name">Cube2</label>
            <input class='form-control Cube2' type='text' placeholder="Cube2" id='Cube2' name="type" required>
          </div>
            <div id="cube2TypeBody"></div>
        </div>
        <div class="modal-footer">
          <button type="submit" class='btn btn-primary cube2actionbtn'>Add</button>
          <button type="button" class="btn btn-danger close-del" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/warehouse/cube/list.js"></script>')%>
