<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title"><%=title%></div>
        <a href='create' class='btn btn-primary btn-round float-right ml-md-auto'>Add New Paid Type</a>
      </div>
      <div id="myLoader"><img src="../../../img/preloader.gif"></div>
      <div class="card-body daterangepickerbody-1">
        <div class="table-responsive">
          <table id="paid-typeTable" class="display table dataTable dateRangeFilterTable table-striped table-hover">
            <thead>
              <tr>
                <!-- <th>ID</th> -->
                <th>Name</th>
                <th>Date Created</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% paidTypes.forEach(function(paidType){%>
              <tr data-record="<%= paidType.id %>">
                <!-- <td><%=paidType.id%></td> -->
                <td><strong><%=paidType.name%></strong></td>
                <td><strong><%=helpers.formatDate(paidType.createdAt)%></strong></td>
                <td>
                  <a href='manage/<%=paidType.id%>/get'><i class="fas fa-pen"></i></a>
                  <!-- temporary commenting the code -->
                  <!-- <a href='#' class='rm-paid-type ml-3' data-id='<%=paidType.id%>'><i class="fas fa-trash"></i></a> -->
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/warehouse/paid-type/list.js"></script>')%>