<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title"><%=title%></div>
        <a href='create' class='btn btn-primary btn-round float-right ml-md-auto'>Add Airline</a>
      </div>
      <div class="card-body daterangepickerbody">
        <div class="table-responsive">
          <table id="airlineTable" class="display table table-striped dateRangeFilterTable table-hover">
            <thead>
              <tr>
                <!-- <th>ID</th> -->
                <th>Name</th>
                <th>Date Created</th>
                <th>Contact Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% airlines.forEach(function(airline){%>
              <tr data-record="<%= airline.id %>">
                <td><strong><%=airline.name%></strong></td>
                <td><%=helpers.formatDate(airline.createdAt)%></td>
                <td><%=helpers.getFullName(airline)%></td>
                <td>
                  <a href='manage/<%=airline.id%>/get'><i class="fas fa-pen"></i></a>
                  <!-- temporary commenting the code -->
                  <!-- <a href='#' class='rm-airline ml-3' data-id='<%=airline.id%>'><i class="fas fa-trash"></i></a> -->
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/warehouse/airline/list.js"></script>')%>