<% layout('./shared/__template')%>
<div class="card">
  <div class="card-header">
    <div class="card-title"><%=title%></div>
  </div>
  <form id="add-pilot-form" action="update">
    <div class="card-body">
      <div class="form-group form-show-validation row">
        <label for="firstName" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">First Name </label>
        <div class="col-lg-4 col-md-9 col-sm-8">
          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required
            value="<%= pilot.firstName%>">
        </div>
      </div>
      <div class="form-group form-show-validation row">
        <label for="lastName" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Last Name </label>
        <div class="col-lg-4 col-md-9 col-sm-8">
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required
            value="<%= pilot.lastName%>">
        </div>
      </div>
      <div class="form-group form-show-validation row">
        <label for="company" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Company </label>
        <div class="col-lg-4 col-md-9 col-sm-8">
          <input type="text" class="form-control" id="company" name="company" placeholder="Company" required
            value="<%= pilot.company%>">
        </div>
      </div>
      <div class="form-group form-show-validation row">
        <label for="mobile" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Mobile </label>
        <div class="col-lg-4 col-md-9 col-sm-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="username-addon">@</span>
            </div>
            <input type="number" class="form-control" placeholder="Mobile Number" aria-label="mobile"
              aria-describedby="username-addon" id="mobile" name="mobile"  value="<%= pilot.mobile%>">
          </div>
        </div>
      </div>
      <div class="form-group form-show-validation row">
        <label for="email" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Email Address </label>
        <div class="col-lg-4 col-md-9 col-sm-8">
          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
            value="<%= pilot.email%>">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
            else.</small>
        </div>
      </div>
      <!-- <div class="form-group form-show-validation row">
        <label for="warehouse" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Warehouse </label>
        <div class="col-lg-4 col-md-9 col-sm-8">
          <select class="form-control" id="warehouse" name="warehouse" required>
            <option></option>
            <option value="fll" <% if(pilot.warehouse== "fll") { %> selected <% } %>>Warehouse FLL</option>
            <option value="nas" <% if(pilot.warehouse== "nas") { %> selected <% } %>>Warehouse NAS</option>
          </select>
        </div>
      </div> -->
    </div>
    <div class="card-action">
      <div class="row">
        <div class="col-md-12">
          <input class="btn btn-primary" type="submit" value="Update">
          <button class="btn btn-danger" id="cancelForm">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/fleet/pilot/edit.js"></script>')%>