<% layout('./shared/__template')%>
<style>
  table.dataTable tbody > tr.selected,
  table.dataTable tbody > tr > .selected {
    background-color: #0275d8;
  }
  table.dataTable tbody tr.selected,
  table.dataTable tbody th.selected,
  table.dataTable tbody td.selected {
    color: white;
  }

  table.dataTable .dataTables_info .select-info {
    display: block;
  }
</style>
<div class="gutters">
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div
        class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row"
      >
        <div class="card-title"><%= title %></div>
        <div class="d-flex align-items-right float-right ml-md-auto">
        <button
        id="add-to-cube-button"
        data-toggle="modal"
        data-target="#add-to-cube-modal"
        class="btn btn-primary btn-round float-right mr-2 ml-md-auto"
        >
        Add to Cube
        </button>
        <button
        id="add-to-nodoc-button"
        data-toggle="modal"
        data-target="#add-to-nodoc-modal"
        class="btn btn-primary btn-round float-right mr-2 ml-md-auto"
        >
        Add to NoDoc
        </button>
        <% if (buttonName === 'Add to Delivery') { %>
          <button
            id="add-to-delivery-button"
            data-toggle="modal"
            data-target="#add-to-delivery-modal"
            class="btn btn-primary btn-round float-right ml-md-auto"
          >
            Add to Delivery
          </button>
        <% } %>   
        <% if (buttonName === 'Add to Manifest') { %>
          <button
            id="add-to-manifest-button"
            data-toggle="modal"
            data-target="#add-to-manifest-modal"
            class="btn btn-primary btn-round float-right ml-md-auto"
          >
            Add to Manifest
          </button>
        <% } %> 
      </div>
      </div>
      <div id="myLoader"><img src="../../../img/preloader.gif"></div>
      <div class="card-body daterangepickerbody">
        <input type="hidden" name="clear" id="clear" value="<%=clear%>">
        <div class="table-responsive p-4">
        <table id = "package-table" class="display  table table-striped table-hover dataTable package-table">
          <thead>
            <tr>
              <th><input id="checkall" type="checkbox" class="package-select-all" /></th>
              <th>OrignalScanDate</th>
              <th>Customer Name</th>
              <th>AWB</th>
              <th>Original Tracking No</th>
              <th>Package No</th>
              <th>Description</th>
              <th>Zone</th>
              <!-- <th>Type</th> -->
              <th>Piece Number</th>
              <th>Weight</th>
              <th>Number of Pieces</th>
              <th>Status</th>
              <th>AirwareBillDate</th>
              <th>Flight #</th>
              <th>Manifest #</th>
              <th>Status Date</th>
              <th></th>
              <!-- <th></th> -->
            </tr>
          </thead>  
          <tbody>
            <% packages.forEach(function(pkg){ %>
            <tr data-record="<%= pkg._id %>">
              <td>
                <input type="checkbox" name="package-select" class="package-select" />
              </td>
              <td><%= helpers.formatDate(pkg.OrignalBarcodeDate) %></td>
              <% if (pkg['customerId']) { %>
                <td><%= (pkg['customerId'].lastName ? 
                  `${pkg['customerId'].firstName} ${pkg['customerId'].lastName}` : 
                  `${pkg['customerId'].firstName}`); %>
                </td>
                <% } else { %>
                  <td> - </td>
                  <% } %>
              <td><a class="text-decoration-none" href="/warehouse/nas/awb/manage/<%=pkg.awbId ? pkg.awbId._id: '#'%>/preview"><b><%= pkg.express ? '*': '' %></b><%= pkg.awbId.awbId %> </a></td>
              <td><%= pkg.originBarcode ? pkg.originBarcode.barcode: ''%></td>
              <td><%= pkg.packageNumber ? pkg.packageNumber : ''%></td>
              <td><%= pkg.description %></td>
              <% if (pkg['zoneId'] && pkg['zoneId'].name) { %>
                <td><%= pkg['zoneId'].name %>
                </td>
              <% } else { %>
                <td> - </td>
              <% } %> 
              <!-- <td><%= pkg.packageType %></td> -->
              <td><%= pkg.pieceNo%></td>
              <td><%= pkg.weight%></td>
              <td><%= (pkg.pieces || pkg.pieces > -1) ? pkg.pieces : ''%></td>
              <td class="lastStatusText_field"><%= pkg.lastStatusText %></td>
              <td><%= pkg.awbCreatedAt %></td>
              <td><%= pkg.actualFlight %></td>
              <td><%= pkg.manifestId %></td>
              <td><%= (pkg.lastStatusDates) ? pkg.lastStatusDates : ''  %></td>
              <!-- <td><a href="../pkg-label/download/<%=pkg._id%>"><i class="fa fa-download"></i></a></td> -->
              <td class="text-center">
                <a href="../pkg-label/download/<%=pkg._id%>"><i class="fa fa-download"></i></a>
                <a
                  class="btn btn-link btn-primary btn-print-pkg"
                  data-toggle="modal"
                  data-id="<%=pkg._id%>"
                  data-original-title="Print Label"
                  data-target="#print-popup"
                ><i class="fa fa-print"></i>
              </a>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="add-to-manifest-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="print-popup"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog" role="document">
    <form id="add-to-manifest-form" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Add packages to Manifest</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" hidden name="packageIds" />
          <div class="form-group">
            <label for="manifestId">Manifest</label>
            <select id="manifestId" name="manifestId" class="form-control" required>
              <option></option>
            </select>
          </div>
          <div class="form-group">
            <label for="compartmentId">Compartment</label>
            <select id="compartmentId" name="compartmentId" class="form-control" required disabled>
              <option></option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Add Packages To nodoc -->
<div
  class="modal fade"
  id="add-to-nodoc-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="print-popup"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog" role="document">
    <form id="add-to-nodoc-form" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Add Packages to NoDoc</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" hidden name="packageIds" />
          <div class="form-group">
            <label for="location">Location</label>
            <select id="location" name="location" class="form-control" required>
              <option></option>
            </select>
          </div>
          <div class="form-group">
            <label for="zoneId">Zone</label>
            <select id="zoneId" name="zoneId" class="form-control" required>
              <option></option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Add Packages To Cube -->
<div
  class="modal fade"
  id="add-to-cube-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="print-popup"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog" role="document">
    <form id="add-to-cube-form" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Add packages to Cube</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" hidden name="packageIds" />
          <div class="form-group">
            <label for="CubeId">Cube</label>
            <select id="CubeId" name="CubeId" class="form-control" required>
              <option></option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div
  class="modal fade"
  id="add-to-delivery-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="print-popup"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog" role="document">
    <form id="add-to-delivery-form" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Add packages to Delivery</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" hidden name="packageIds" />
            <div class="form-group">
              <label for="location">Location</label>
              <select id="locationId" name="locationId" class="form-control" required>
                <option></option>
              </select>
            </div>
          <div class="form-group">
            <label for="deliveryId">Delivery</label>
            <select id="deliveryId" name="deliveryId" class="form-control" required>
              <option></option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div
  class="modal fade"
  id="print-popup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="print-popup"
  aria-hidden="true"
  style="display: none;"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel2">Print Package Label</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group text-center">
          <canvas id="pdf-preview" class="border border-dark"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger close-del" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary print-package" id="print-package">
          Print
        </button>
      </div>
    </div>
  </div>
</div>
<script> 
  var pageUrl = "<%=page ? page :''%>";
</script>
<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/warehouse/package/list-all.js"></script>')%>