<% layout('./shared/__template')%>

    <div class='gutters'>
        <div class='col-xl-12 col-lg-6 col-md-12 col-sm-12'>
            <div class='card'>
                <div class="card-header">
                    <div class="pull-right">
                        <div class="btn-group custom-btn-group float-right" role="group">
                            <a href="/api/printer/download-pdf/delivery-report/<%=delivery.id%>" class="btn btn-primary btn-sm">
							Download Report &nbsp;&nbsp;<i class="fa fa-download"></i>
						</a>
                        </div>
                    </div>
                    <h4 class="card-title">
                        <%=title%> -
                            <%=delivery.deliveryNum%>
                    </h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-muted">Delivery Info</h3>
                    <div class="d-flex flex-row">
                        <div class="p-2"><b>Date</b> :-
                            <%= delivery.delivery_date%>
                        </div>
                        <div class="p-2"><b>Destination</b> :-
                            <%= delivery.locationId.name%>
                        </div>
                        <div class="p-2"><b>Driver</b> :-
                            <%= delivery.driverId.firstName + ' ' + delivery.driverId.lastName%>
                        </div>
                    </div>
                    <div class="separator-solid"></div>
                    <h3 class="card-title text-muted">Packages</h3>
                    <div class="mt-3 daterangepickerbody">
                        <div class="table-responsive">
                        <table class="display table table-striped table-hover dateRangeFilterTable  dataTable delivery-package-table">
                            <thead>
                                <tr>
                                    <th>Package ID</th>
                                    <th>PMB</th>
                                    <th>Consignee</th>
                                    <th>AWB</th>
                                    <th>Shipper</th>
                                    <th>Weight</th>
                                    <th>Volumetric Weight</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% delivery.packages.forEach(package => { 
                                    let check = 1
                                    package.dimensions.split('x').forEach(data =>{
                                      check = check * data
                                    })
                                    package.volumetricWeight = (check/166);
                                    %>
                                    <tr data-record="<%= package.id %>">
                                        <td>
                                            <%= package.id %>
                                        </td>
                                        <td>
                                            <%= package.customer && package.customer.pmb %>
                                        </td>
                                        <td>
                                            <%= helpers.getFullName(package.customer) %>
                                        </td>
                                        <td>
                                            <%= package.awbId.awbId %>
                                        </td>
                                        <td>
                                            <%= helpers.getFullName(package.shipper) %>
                                        </td>
                                        <td>
                                            <%= package.weight %> lbs</td>
                                        <td>
                                            <%= package.volumetricWeight.toFixed(2) %> vlbs</td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% block('scripts').append('<script src="/js/utils.js"></script>')%>
        <% block('scripts').append('<script src="/js/warehouse/delivery/preview.js"></script>')%>