<% layout('./shared/__template')%>
<div class="card">
  <div class="card-header">
    <div class="card-title"><%=title%></div>
  </div>
  <form id="add-plane-form" action="update">
    <div class="card-body">
      <div class="form-group form-show-validation row">
        <label for="tail_number" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Name </label>
        <div class="col-lg-4 col-md-9 col-sm-8">
          <input type="text" class="form-control" id="tail_number" name="tail_number" placeholder="Tail Number"
            value="<%= plane.tail_number%>" required>
        </div>
      </div>
      <div class="form-group form-show-validation row">
        <label for="aircraft_type" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Air Craft Type </label>
        <div class="col-lg-4 col-md-9 col-sm-8">
          <input type="text" class="form-control" id="aircraft_type" name="aircraft_type" placeholder="Air Craft Type"
            value="<%= plane.aircraft_type%>" required>
        </div>
      </div>
      <div class="form-group form-show-validation row">
        <label for="warehouse" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Warehouse </label>
        <div class="col-lg-4 col-md-9 col-sm-8">
          <input type="text" class="form-control" placeholder="Warehouse" value="<%= plane.warehouse%>" required
            readonly>
          <!-- <select class="form-control" id="warehouse" name="warehouse" required readonly>
            <option></option>
            <option value="fll" <% if(plane.warehouse== "fll") { %> selected <% } %>>Warehouse FLL</option>
            <option value="nas" <% if(plane.warehouse== "nas") { %> selected <% } %>>Warehouse NAS</option>
          </select> -->
        </div>
      </div>
      <div class="form-group form-show-validation row">
        <label for="pilotId" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Pilot </label>
        <div class="col-lg-4 col-md-9 col-sm-8">
          <select class="form-control" id="pilotId" name="pilotId" required>
            <option></option>
            <% pilots.forEach(pilot => { %>
            <option value="<%=pilot.id%>" <% if (plane.pilotId == pilot.id) { %> selected <% } %>>
              <%=pilot.firstName + ' ' + pilot.lastName %></option>
            <% }) %>
          </select>
        </div>
      </div>
    </div>
    <div class="card-action">
      <div class="row">
        <div class="col-md-12">
          <input class="btn btn-primary" type="submit" value="Update">
          <button class="btn btn-danger" id="cancelForm">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/fleet/plane/edit.js"></script>')%>