<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title">Drivers</div>
        <a href='create' class='btn btn-primary btn-round ml-md-auto float-right'>Add Driver</a>
      </div>
      <div class="card-body daterangepickerbody-1">
        <div class="table-responsive">
        <table class="display table table-striped table-hover dateRangeFilterTable dataTable driver-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date Created</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Location</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% drivers.forEach(driver => { %>
            <tr data-record="<%=driver.id%>">
              <td><%= driver.firstName + ' ' + driver.lastName%></td>
              <td><%= helpers.formatDate(driver.createdAt)%></td>
              <td><%= driver.email%></td>
              <td><%= driver.mobile%></td>
              <td><%= driver.location%></td>
              <td>
                <a href='manage/<%=driver.id%>/get'><i class="fas fa-user-edit px-3"></i></a>
                <!-- temporary commenting the code -->
                <!-- <a href='#' class='rm-user' data-id='<%=driver.id%>'><i class="fas fa-trash px-3"></i></a> -->
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>

<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/fleet/driver/list.js"></script>')%>