<% layout('./shared/__template')%>

<div class='gutters'>
	<div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
		<div class="card">
			<div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div class="card-title">Planes</div>
				<a href='javascript:void(0)' id='show-add' data-target="#add-plane" data-toggle='modal' class='btn btn-primary btn-round ml-md-auto float-right'>Add Plane</a>
			</div>
			<div class="card-body">
				<table class="table m-0">
					<thead>
						<tr>
							<th>Tail Number</th>
							<th>Contact </th>
							<th>Phone </th>
							<th>Air Craft Type</th>
							<th>Total Capacity</th>
							
							
							<th></th>
						</tr>
						<% for(var i = 0; i < planes.length; i++ ){ %>
							<tr>
								<td><%=planes[i].tail_num%></td>
								<td><%=planes[i].contact_name%></td>
								<td><%=planes[i].contact_phone %></td>
								<td><%=planes[i].aircarft_type%></td>
								<td><%=planes[i].maximum_capacity%></td>
							
							
								<td>
										<a  class='config-plane' title='Setup Compartments' data-id='<%=planes[i].id%>' href="/fleet/list-compartments/<%=planes[i].id%>"><i class='fa fa-cog ml-1 '></i></a>
									<a data-id='<%=planes[i].id%>' data-target="#add-plane" data-toggle='modal' class='edit-plane' href="javascript:void(0)"><i class='fa fa-edit ml-1 '></i></a> <a  class='rm-plane' data-id='<%=planes[i].id%>' href="javascript:void(0)"><i class='fa fa-trash ml-1 '></i></a>
									
								
								</td>
							</tr>
						<%}%>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- add plane modal  -->
<div class="modal fade" id="add-plane" tabindex="-1" role="dialog" aria-labelledby="add-plane"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel2">Save Plane</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
               
             <div class='form-group'>
                 <label>Tail Number</label>
                 <input class='form-control' type='text' placeholder="Tail Number" id='tail-number'>
                 <input type='hidden' value='0' id='id'/>

             </div>
             <div class='form-group'>
                    <label>Air Carft Type</label>
                    <input class='form-control' type='text' placeholder="Air Craft Type" id='aircraft-type'>
   
                </div>
                <div class='form-group'>
                        <label>Company</label>
                        <input class='form-control' type='text' placeholder="Company" id='company'>
       
                </div>
                <div class='form-group'>
                        <label>Contact Name</label>
                        <input class='form-control' type='text' placeholder="Contact Name" id='contact'>
       
				</div>
				<div class='form-group'>
                        <label>Contact Phone</label>
                        <input class='form-control' type='text' placeholder="Phone" id='phone'>
       
                </div>
          
               
            </div>
            <div class="modal-footer">
                    <button id='save-plane' class='save-plane btn btn-primary'>Save</button>
                <button type="button" class="btn btn-danger close-del" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>

<% block('scripts').append('<script src="/js/fleet/plane.js"></script>')%>