<% layout('./shared/__template')%>
<div class='gutters'>
	<div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
		<div class="card">
			<div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div class="card-title">Pilots</div>
				<a href='javascript:void(0)' data-toggle='modal' data-target='#add-pilot'class='btn btn-primary btn-round ml-md-auto float-right'>Add Pilot</a>
			</div>
			<div class="card-body">
				<table class="table m-0">
					<thead>
						<tr>
							<th>Pilot Name</th>
							<th>Company</th>
							<th>Mobile</th>
							<th>Email</th>
							
							<th></th>
						</tr>
					</thead>
					<tbody>
                        <%for (var i =0 ; i< pilots.length; i++){%>
                            <tr>
                                    <th><%=pilots[i].name%></th>
                                    <th><%=pilots[i].company%></th>
                                    <th><%=pilots[i].mobile%></th>
                                    <th><%=pilots[i].email%></th>
                                    
                                    <th><a href='javascript:void(0)' data-id='<%=pilots[i].id%>' data-toggle="modal" data-target="#add-pilot" class='edit-pilot'><i class='fa fa-edit'></i></a> <a href="javascript:void(0)" data-id='<%=pilots[i].id%>' class='rm-pilot ml-1'><i class='fa fa-trash'></i></a></th>
                                </tr>
                        <%}%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="add-pilot" tabindex="-1" role="dialog" aria-labelledby="add-pilot"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel2">Save Pilot</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
               
             <div class='form-group'>
                 <label>Name</label>
                 <input class='form-control' type='text' placeholder="Pilot Name" id='name'>
                 <input type='hidden' value='0' id='id'/>

             </div>
             <div class='form-group'>
                    <label>Company</label>
                    <input class='form-control' type='text' placeholder="Company" id='company'>
   
                </div>
                <div class='form-group'>
                        <label>Email</label>
                        <input class='form-control' type='text' placeholder="Email" id='email'>
       
                </div>
                <div class='form-group'>
                        <label>Mobile</label>
                        <input class='form-control' type='text' placeholder="Mobile" id='mobile'>
       
                </div>
          
               
            </div>
            <div class="modal-footer">
                    <button id='save-pilot' class='save-pilot btn btn-primary'>Save</button>
                <button type="button" class="btn btn-danger close-del" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
<% block('scripts').append('<script src="/js/fleet/pilot.js"></script>')%>