<% layout('./shared/__template')%>

<div class='gutters'>
	<div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
		<div class="card">
			<div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div class="card-title">Planes Compartments</div>
				<a href='javascript:void(0)' id='show-add' data-target="#add-plane" data-toggle='modal' class='btn btn-primary btn-round ml-md-auto float-right'>Add Compartment</a>
			</div>
			<div class="card-body">
				<table class="table m-0">
					<thead>
						<tr>
							<th>Name</th>
							<th>Capcity ( Lbs )  </th>
							<th>Capcity ( Vol ) </th>
							
							
							<th></th>
                        </tr>
                        <% for(var i = 0; i < plane.compartments.length; i++ ){ %>
							<tr>
								<td><%=plane.compartments[i].name%></td>
								<td><%=plane.compartments[i].weight%></td>
								<td><%=plane.compartments[i].volume %></td>
								
								<td>
										
									 <a  class='rm-compartment' data-id='<%=plane.compartments[i].id%>' href="javascript:void(0)"><i class='fa fa-trash ml-1 '></i></a>
									
								
								</td>
							</tr>
						<%}%>
					
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="add-plane" tabindex="-1" role="dialog" aria-labelledby="add-plane"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel2">Save Plane</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
               
             <div class='form-group'>
                 <label>Name</label>
                 <input class='form-control' type='text' placeholder="Name" id='name'>
                 <input type='hidden' value='0' id='id'/>
                 <input type='hidden' value='<%=planeId%>' id='planeId'/>

             </div>
             <div class='form-group'>
                    <label>Max Weight (lbs)</label>
                    <input class='form-control' type='text' placeholder="Max Weight (Lbs)" id='max-weight'>
   
                </div>
                <div class='form-group'>
                        <label>Capcity (vol)</label>
                        <input class='form-control' type='text' placeholder="Max Volume" id='max-vol'>
                        
                </div>
              
          
               
            </div>
            <div class="modal-footer">
                    <button id='save-plane' class='save-compartment btn btn-primary'>Save</button>
                <button type="button" class="btn btn-danger close-del" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>

<% block('scripts').append('<script src="/js/fleet/plane-compartment.js"></script>')%>