<% layout('./shared/__template')%>
<script src="/js/jquery.js"></script>
<script src="/assets/js/plugin/datatables/datatables.min.js"></script>
<%
var endate = new Date();      
        endate.setDate(endate.getDate());
        var stdate = new Date();
        stdate.setDate(stdate.getDate() -21);      
        var dateRangeDefault = (stdate.getMonth() + 1)+ '/'+stdate.getDate()+'/'+stdate.getFullYear()+' - '+
        (endate.getMonth() + 1)+ '/'+endate.getDate()+'/'+endate.getFullYear(); 
%>

<div class="row mt--2">
  <div class="col-md-6">
    <div class="card full-height">
      <div class="card-body">
        <div class="card-title">Overall statistics</div>
        <div class="card-category">Daily information about statistics in system</div>
        <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
          <div class="px-2 pb-2 pb-md-0 text-center">
            <div id="circles-1"></div>
            <h6 class="fw-bold mt-3 mb-0">Received in FLL</h6>
          </div>
          <div class="px-2 pb-2 pb-md-0 text-center">
            <div id="circles-2"></div>
            <h6 class="fw-bold mt-3 mb-0">Loaded on AirCraft</h6>
          </div>
          <div class="px-2 pb-2 pb-md-0 text-center">
            <div id="circles-3"></div>
            <h6 class="fw-bold mt-3 mb-0">In Transit</h6>
          </div>
        </div>

        <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
          <div class="px-2 pb-2 pb-md-0 text-center">
            <div id="circles-4"></div>
            <h6 class="fw-bold mt-3 mb-0">In Warehouse Nassuau</h6>
          </div>
          <div class="px-2 pb-2 pb-md-0 text-center">
            <div id="circles-5"></div>
            <h6 class="fw-bold mt-3 mb-0">Ready for Pickup / Delivery</h6>
          </div>
          <div class="px-2 pb-2 pb-md-0 text-center">
            <div id="circles-6"></div>
            <h6 class="fw-bold mt-3 mb-0">Delivered</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-head-row">
          <div class="card-title">User Statistics</div>
          <div class="card-tools">
            <a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
              <span class="btn-label">
                <i class="fa fa-pencil"></i>
              </span>
              Export
            </a>
            <a href="#" class="btn btn-info btn-border btn-round btn-sm">
              <span class="btn-label">
                <i class="fa fa-print"></i>
              </span>
              Print
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-container" style="min-height: 375px">
          <canvas id="statisticsChart"></canvas>
        </div>
        <div id="myChartLegend"></div>
      </div>
    </div>
  </div>

</div>
<input type="hidden" name="typeTable" id="typeTable" value="<%=query.type?query.type:dateRangeDefault%>">
<div class="row">
  <div class="col-md-12">
    <div class="card full-height">
      <div class="card-header">
        <div class="row">
          <div class="card-title pd-18 col-md-2 ">Post Boxes Etc Packages</div>
          <div class="card-tools  pd-18 col-md-10">
            <form method="post" onsubmit="filterData(event)">
              <div class="row">
                <div class="col-md-3">
                  <div class="row">
                    <span class="col-md-5 pt-10" style="margin-top: 8px;">By User</span>
                    <div class="col-md-7">
                      <select class="form-control" name="users">
                        <option value='all'>All</option>
                        <%users.forEach(function(user){ %>
                        <option value="<%=user._id%>"><%=user.username%></option>
                        <%})%>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">

                    <span class="col-md-5 pt-10" style="margin-top: 8px;">Package Status</span>
                    <div class="col-md-7">
                      <select class="form-control" name="package_status">
                        <option value='all'>All</option>
                        <%Object.keys(package_status).map(function(st){ %>
                        <option value="<%=package_status[st]%>"><%=package_status[st]%></option>
                        <%})%>
                      </select>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="filter_for" value="postBox" />
                <div class="col-md-3">
                  <div class="row">
                    <label class="col-md-5 pt-10" style="margin-top: 8px;">Created At</label>
                    <input type="text" class="filter-date form-control col-md-7" name="filter_date" />
                  </div>
                </div>
                <div class="col-md-2 pl-10">
                  <input type="submit" value="Filter" class="btn btn-primary" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex w-100 d-inline-block py-4 col-xs-10 col-sm-4 float-left ">
          <label class="w-10-rem align-text-bottom">Select Dates : </label>
          <input type="text" class="form-control form-control-sm" name="" id="daterange-postbox" value="<%=(query.daterange && query.type=='postbox')? query.daterange: dateRangeDefault%>"  placeholder="Select dates"/>
        </div>
        <div class="table-responsive">
          <table id="post_packages" class="display table table-striped table-hover dataTable manifest-table">
            <thead>
            <tr>
              <th>Package ID#</th>
              <th>Package Status</th>
              <th>Awb Number</th>
              <th>Customer Email</th>
              <th>Zone</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card full-height">
      <div class="card-header">
        <div class="row">
          <div class="card-title pd-18 col-md-2 ">9to5 packages</div>
          <div class="card-tools  pd-18 col-md-10">
            <form method="post" onsubmit="filterData(event)">
              <div class="row">
                <div class="col-md-3">
                  <div class="row">
                    <span class="col-md-5 pt-10" style="margin-top: 8px;">By User</span>
                    <div class="col-md-7">
                      <select class="form-control" name="users">
                        <option value='all'>All</option>
                        <%users.forEach(function(user){ %>
                        <option value="<%=user._id%>"><%=user.username%></option>
                        <%})%>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <span class="col-md-5 pt-10" style="margin-top: 8px;">Package Status</span>
                    <div class="col-md-7">
                      <select class="form-control" name="package_status">
                        <option value='all'>All</option>
                        <%Object.keys(package_status).map(function(st){ %>
                        <option value="<%=package_status[st]%>"><%=package_status[st]%></option>
                        <%})%>
                      </select>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="filter_for" value="9to5" />
                <div class="col-md-3"">
                <div class=" row">
                  <label class="col-md-5 pt-10" style="margin-top: 8px;">Created At</label>
                  <input type="text" class="filter-date form-control col-md-7" name="filter_date" />
                </div>
              </div>
              <div class="col-md-2 pl-10">
                <input type="submit" value="Filter" class="btn btn-primary" />
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card-body daterangepickerbody-1">
      <div class="d-flex w-100 d-inline-block py-4 col-xs-10 col-sm-4 float-left ">
        <label class="w-10-rem align-text-bottom">Select Dates : </label>
        <input type="text" class="form-control form-control-sm" name="" id="daterange-nineToPackages" value="<%=(query.daterange && query.type=='nineToPackages')? query.daterange: dateRangeDefault%>"  placeholder="Select dates"/>
      </div>
      <div class="table-responsive">        
        <table id="9to5packages" class="display table table-striped table-hover dataTable manifest-table">
          <thead>
          <tr>
            <th>Package ID#</th>
            <!-- <th>Date Created</th> -->
            <th>Package Status</th>
            <th>Awb Number</th>
            <th>Customer Email</th>
            <th>Zone</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>  
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card full-height">
      <div class="card-header">
        <div class="row">
          <div class="card-title pd-18 col-md-2">No docs </div>
          <div class="card-tools  pd-18 col-md-10">
            <form method="post" onsubmit="filterData(event)">
              <div class="row">
                <div class="col-md-3">
                  <div class="row">
                    <span class="col-md-5 pt-10" style="margin-top: 8px;">By User</span>
                    <div class="col-md-7">
                      <select class="form-control" name="users">
                        <option value='all'>All</option>
                        <% users.forEach(function(user){ %>
                        <option value="<%=user._id%>"><%=user.username%></option>
                        <%})%>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <span class="col-md-5 pt-10" style="margin-top: 8px;">Package Status</span>
                    <div class="col-md-7">
                      <select class="form-control" name="package_status">
                        <option value='all'>All</option>
                        <%Object.keys(package_status).map(function(st){ %>
                        <option value="<%=package_status[st]%>"><%=package_status[st]%></option>
                        <%})%>
                      </select>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="filter_for" value="noDocs" />
                <div class="col-md-3">
                  <div class="row">
                    <label class="col-md-5 pt-10" style="margin-top: 8px;">Created At</label>
                    <input type="text" class="filter-date form-control col-md-7" name="filter_date" />
                  </div>
                </div>
                <div class="col-md-2 pl-10">
                  <input type="submit" value="Filter" class="btn btn-primary" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card-body daterangepickerbody-1">
        <div class="d-flex w-100 d-inline-block py-4 col-xs-10 col-sm-4 float-left ">
          <label class="w-10-rem align-text-bottom">Select Dates : </label>
          <input type="text" class="form-control form-control-sm" name="" id="daterange-noDocs" value="<%=(query.daterange && query.type=='noDocs')? query.daterange: dateRangeDefault%>"  placeholder="Select dates"/>
        </div>
        <div class="table-responsive">
          <table id="no_docs_packages" class="display table table-striped table-hover dataTable manifest-table">
            <thead>
            <tr>
              <th>Package ID#</th>
              <!-- <th>Date Created</th> -->
              <th>Package Status</th>
              <th>Awb Number</th>
              <th>Customer Email</th>
              <th>Zone</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card full-height">
      <div class="card-header">
        <div class="row">
          <div class="card-title pd-18 col-md-2">Users </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex w-100 d-inline-block py-4 col-xs-10 col-sm-4 float-left ">
          <label class="w-10-rem align-text-bottom">Select Dates : </label>
          <input type="text" class="form-control form-control-sm" name="" id="daterange-user" value="<%=(query.daterange && query.type=='user')? query.daterange: dateRangeDefault%>"  placeholder="Select dates"/>
        </div>
      <div class="table-responsive ">
        <table id="user_table" class=" display table table-striped table-hover dataTable ">
          <thead>
            <tr>
              <th>Username</th>
              <!-- <th>Date Created</th> -->
              <th>Name</th>
              <th>Total AWB Created</th>
              <th>User Email</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function filterData(event) {
    event.preventDefault()
    const data = $(event.currentTarget).serializeArray();
    const obj = {}
    data.map((i) => { obj[i.name] = i.value })
    $.ajax({
      url: "/api/warehouse/get_packages_filter/" + obj.filter_for,
      dataType: "json",
      data: obj,
      type: "GET",
      success: function (data) {

        let nineToPackages = data.nineToPackages;
        let noDocs = data.noDocs;
        let postBox = data.postBox;
        data.nineToPackages ? data9to5(nineToPackages) : null;
        data.noDocs ? dataNoDocs(noDocs) : null;
        data.postBox ? dataPostBox(postBox) : null;
         
      }
    })
  }
  //setTimeout(function(){
    var daterangeval = $('#daterange-postbox').val();
    if($("#typeTable").val()){
      daterangeval = '<%=query.daterange? query.daterange : ""%>';
    }
    $.ajax({
      url: '/api/warehouse/get_packages_filter/all?daterange='+daterangeval+'&type='+'<%=query.type?query.type:""%>',
      dataType: "json",
      type: "GET",
      success: function (data) {
        let nineToPackages = data.nineToPackages;
        let noDocs = data.noDocs;
        let postBox = data.postBox;
        let users = data.users;
        data9to5(nineToPackages);
        dataNoDocs(noDocs);
        dataPostBox(postBox);
        usersData(users);
      }
    })
 // },1000);

  $(document).ready(function() {
    setTimeout(()=>{
        console.log("no docs",$('#clear').val())
        if($('#clear').val() ){
        // $('#daterange').val('')
        $('#clear').val('1');
        var endate = new Date();      
        endate.setDate(endate.getDate());
        var stdate = new Date();
        stdate.setDate(stdate.getDate() -14);      
        var dateRange = (stdate.getMonth() + 1)+ '/'+stdate.getDate()+'/'+stdate.getFullYear()+' - '+
        (endate.getMonth() + 1)+ '/'+endate.getDate()+'/'+endate.getFullYear()      
        $('.daterange').val(dateRange)
        }	   
},100);

  $('#daterange-postbox').on('apply.daterangepicker', function (ev, picker) {
   var daterange = picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY');  
    window.location.href = "/dashboard?type=postbox&daterange="+daterange;
  }); 
  $('#daterange-postbox').on('cancel.daterangepicker', function (ev, picker) {
        var endate = new Date();      
        endate.setDate(endate.getDate());
        var stdate = new Date();
        stdate.setDate(stdate.getDate() -14);      
        var dateRange = (stdate.getMonth() + 1)+ '/'+stdate.getDate()+'/'+stdate.getFullYear()+' - '+
        (endate.getMonth() + 1)+ '/'+endate.getDate()+'/'+endate.getFullYear();  
       window.location.href = "/dashboard?type=postbox&daterange="+dateRange;
  });

  $('#daterange-nineToPackages').on('apply.daterangepicker', function (ev, picker) {
   var daterange = picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY');  
    window.location.href = "/dashboard?type=nineToPackages&daterange="+daterange;
  }); 
  $('#daterange-nineToPackages').on('cancel.daterangepicker', function (ev, picker) {
        var endate = new Date();      
        endate.setDate(endate.getDate());
        var stdate = new Date();
        stdate.setDate(stdate.getDate() -14);      
        var dateRange = (stdate.getMonth() + 1)+ '/'+stdate.getDate()+'/'+stdate.getFullYear()+' - '+
        (endate.getMonth() + 1)+ '/'+endate.getDate()+'/'+endate.getFullYear();  
       window.location.href = "/dashboard?type=nineToPackages&daterange="+dateRange;
  });

  $('#daterange-noDocs').on('apply.daterangepicker', function (ev, picker) {
   var daterange = picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY');  
    window.location.href = "/dashboard?type=noDocs&daterange="+daterange;
  }); 
  $('#daterange-noDocs').on('cancel.daterangepicker', function (ev, picker) {
        var endate = new Date();      
        endate.setDate(endate.getDate());
        var stdate = new Date();
        stdate.setDate(stdate.getDate() -14);      
        var dateRange = (stdate.getMonth() + 1)+ '/'+stdate.getDate()+'/'+stdate.getFullYear()+' - '+
        (endate.getMonth() + 1)+ '/'+endate.getDate()+'/'+endate.getFullYear();  
       window.location.href = "/dashboard?type=noDocs&daterange="+dateRange;
  });

  $('#daterange-user').on('apply.daterangepicker', function (ev, picker) {
   var daterange = picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY');  
    window.location.href = "/dashboard?type=user&daterange="+daterange;
  }); 
  $('#daterange-user').on('cancel.daterangepicker', function (ev, picker) {
        var endate = new Date();      
        endate.setDate(endate.getDate());
        var stdate = new Date();
        stdate.setDate(stdate.getDate() -14);      
        var dateRange = (stdate.getMonth() + 1)+ '/'+stdate.getDate()+'/'+stdate.getFullYear()+' - '+
        (endate.getMonth() + 1)+ '/'+endate.getDate()+'/'+endate.getFullYear();  
       window.location.href = "/dashboard?type=user&daterange="+dateRange;
  });


}) 



function get_data_dataTable(dataTable, daterange){
  $.ajax({
      url: '/api/warehouse/get_packages_filter/all?daterange='+$('#daterange-postbox').val(),
      dataType: "json",
      type: "GET",
      success: function (data) {
        let nineToPackages = data.nineToPackages;
        let noDocs = data.noDocs;
        let postBox = data.postBox;
        let users = data.users;
        if(dataTable == "postbox"){
          dataPostBox(postBox);
        }
        //data9to5(nineToPackages);
        // dataNoDocs(noDocs);
         
        // usersData(users);
      }
    })
}


  function data9to5(data) {
    let result = data.map((row) => {
      if (row !== null) {
        return Tbody(row)
      }
    })

    if ($("#9to5packages > tbody > tr").length) {
      $("#9to5packages > tbody > tr").empty();
    }
    $("#9to5packages").DataTable().destroy();
    $("#9to5packages tbody").html("")
   
    $("#9to5packages tbody").append(result)
    if (!($.fn.dataTable.isDataTable('#9to5packages'))) {
      $("#9to5packages").DataTable({ searching: false, "bLengthChange": false, "order": [[ 2, "desc" ]] });
    }
  }

  function dataNoDocs(data) {
    let result = data.map((row) => {
      if (row !== null) {
        return Tbody(row)
      }
    })

    if ($("#no_docs_packages > tbody > tr").length) {
      $("#no_docs_packages > tbody > tr").empty();
    }
    $("#no_docs_packages tbody").html("")
    $("#no_docs_packages").DataTable().destroy();
    $("#no_docs_packages tbody").append(result)
    if (!($.fn.dataTable.isDataTable('#no_docs_packages'))) {
      $("#no_docs_packages").DataTable({ searching: false, "bLengthChange": false, "order": [[ 2, "desc" ]] });
    }
  }

  function dataPostBox(data) {
    let result = data.map((row) => {
      if (row !== null) {
        return Tbody(row)
      }
    })

    if ($("#post_packages > tbody > tr").length) {
      $("#post_packages > tbody > tr").empty();
    }   
    $("#post_packages").DataTable().destroy();
    $("#post_packages tbody").html(result)
    //
   if (!($.fn.dataTable.isDataTable('#post_packages'))) {
      $("#post_packages").DataTable({ searching: false, "bLengthChange": false, "order": [[ 2, "desc" ]] });
    }
  }

  function usersData(data) {
    let result = data.map((user) => {
      if (user !== null) {
        return `<tr><td>` + user.username + `</td>
          <td>` + user.firstName + " " + user.lastName + `</td>
          <td>` + user.awbCount + `</td>
          <td>` + user.email +
          `</td></tr>`;
      }
    })

    if ($("#user_table > tbody > tr").length) {
      $("#user_table > tbody > tr").empty();
    }

    $("#user_table tbody").append(result)
    if (!($.fn.dataTable.isDataTable('#user_table'))) {
      $("#user_table").DataTable({ searching: false, "bLengthChange": false });
    }
  }

  function Tbody(row) {
    return "<tr><td>" + row._id + "</td><td>" + row.last_status + "</td><td>" + row.awb + "</td><td>" + row.customer_email + "</td><td>" + row.zone + "</td></tr>"
  }
</script>