<% layout('./shared/__template')%>
<form id="saveFrom" method='POST' action='/admin/customer-edit/'>
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Customer / <%=customer.company%></h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="skybox">Skybox</label>
                        <input type="text" class="form-control" name='pmb' id="pmb" placeholder="" readonly
                            readonly value='<%=customer.pmb %>'>
                        <input type='hidden' value='<%=customer.id%>' name='id' id="id">
                    </div>
                    <div class="form-group">
                        <label for="name"> Name</label>
                        <input type="text" class="form-control" name='name' id="name" placeholder="" required
                            value='<%=customer.name %>'>
                    </div>
                    <div class="form-group">
                        <label for="name"> First Name</label>
                        <input type="text" class="form-control" name='firstName' id="firstName" placeholder="" required
                            value='<%=customer.firstName %>'>
                    </div>
                    <div class="form-group">
                        <label for="name">Last Name</label>
                        <input type="text" class="form-control" name='lastName' id="lastName" placeholder="" required
                            value='<%=customer.lastName %>'>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name='email' placeholder="name@example.com"
                            value='<%=customer.email %>'>
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile</label>
                        <input type="text" class="form-control" id="mobile" name='mobile' placeholder="(242)-xxx-xxxx"
                            value='<%=customer.phone %>'>
                    </div>
                    <div class="form-group">
                        <label for="pickupValue">Pick Up Location </label>
                        <input type='hidden' id='pickupValue'  />
                        <select id="area" name="area" class=" form-control " required>
                            <option value="">Select Location</option>
                           <%for (i =0; i<locations.length; i++){%>
                                <option value='<%=locations[i].id%>'><%=locations[i].name%></option>
                            <%}%>
                            <!-- <option value=""> Pick up Location </option>
                            <option value='TRINCITY'>Trincity</option>
                            <option value='CHAGUNAS'>Chaguanas</option>
                            <option value='CUREPE'>Curepe</option>
                            <option value='SANGRE GRANDE'>Sangre Grande</option>
                            <option value='PORT OF SPAIN'>Port of Spain </option>
                            <option value='SAN FERNANDO'>San Fernando</option>
                            <option value='TOBAGO'>Tobago</option> -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="isBusiness">Is Business</label>
                      
                            <input type="checkbox" class="form-control" id="isBusiness" name='isBusiness'
                                style='width: 40px; display: block' >
                    </div>
                    <button type="submit" class="btn btn-primary btn-round">Save</button>
                    <button type="button" id="cancelForm" class="btn btn-primary btn-round">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</form>

<!-- <% block('scripts').append('<script src="/js/adminUsers.js"></script>')%> -->