<% layout('./shared/__template')%>
<form id="saveFrom" method='POST' action ='/admin/customer-edit/'>
<div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">Save Customer</div>
            <div class="card-body">
                    <div class="form-group">
                            <label for="exOne">Skybox</label>
                            <input type="text" class="form-control" name='skybox' id="skybox" placeholder="" required readonly value='<%=customer.skybox %>'>
                            <input type='hidden' value = '<%=customer.Id%>' name='id' id="id">
                        </div>
                        <div class="form-group">
                            <label for="exOne"> Name</label>
                            <input type="text" class="form-control" name='name' id="name" placeholder="" required value='<%=customer.name %>'>
                        </div>
                     
                      
                <div class="form-group">
                    <label for="exOne">Email address</label>
                    <input type="email" class="form-control" id="email" name='email' placeholder="name@example.com" value='<%=customer.email %>'>
                </div>
                <div class="form-group">
                    <label for="exOne">Mobile</label>
                    <input type="text" class="form-control" id="mobile" name='mobile' placeholder="(868)-xxx-xxxx" value='<%=customer.mobile %>'>
                </div>
                <div class="form-group">
                    <label for="exOne">Mobile</label>
                    <select id="area" name="area" class=" form-control ">
<% 

%>
                                <option value=""> Pick up Location </option>
                                <option>Trincity</option>
                                <option>Chaguanas</option>
                                <option>Curepe</option>
                                <option>Sangre Grande</option>
                                <option>Port of Spain </option>
                                <option>San Fernando</option>
                                <option>Tobago</option>
                            </select>
                </div>
                <div class="form-group">
                    <label for="exOne">Is Business </label>
                   
                    <input type="checkbox" class="form-control" id="isBusiness" name='isBusiness' style='width:40px;' >
                </div>
                <button type="submit" class="btn btn-primary">Save</button> <button type="button" class="btn btn-primary">Cancel</button>
                
            </div>
        </div>
    </div>
  
</div>
</form>

<% block('scripts').append('<script src="/js/adminUsers.js"></script>')%>