<% layout('./shared/__template')%>
<form id="saveFrom" method='POST' action='/admin/user/'>
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">Save User</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exOne">Username</label>
                        <input type="text" class="form-control" name='username' id="username" placeholder="" required
                            value='<%=user.username %>'>
                            <input type ='hidden' name='id' value='<%=user.id%>'
                    </div>
                    <div class="form-group">
                        <label for="exOne">First Name</label>
                        <input type="text" class="form-control" name='firstname' id="firstname" placeholder="" required
                            value='<%=user.firstName %>'>
                    </div>
                    <div class="form-group">
                        <label for="exOne">LastName</label>
                        <input type="text" class="form-control" name='lastname' id="lastname" placeholder="" required
                            value='<%=user.lastName %>'>
                    </div>
                    <div class="form-group">
                        <label for="exOne">Password</label>
                        <%
                                    var passrequired = 'required'; 
                                    if (user.username.length > 0)
                                      passrequired = ''; 
                                
                                %>
                        <input type="password" class="form-control" name='password' id="password" placeholder=""
                            <%=passrequired%>>
                    </div>
                    <div class="form-group">
                        <label for="exOne">Confirm Password</label>
                        <input type="password" class="form-control" name='cpass' id="cpass" placeholder=""
                            <%=passrequired%>>
                    </div>
                    <div class="form-group">
                        <label for="exOne">Email address</label>
                        <input type="email" class="form-control" id="email" name='email' placeholder="name@example.com"
                            value='<%=user.email %>'>
                    </div>
                    <div class="form-group">
                        <label for="exOne">Mobile</label>
                        <input type="text" class="form-control" id="mobile" name='mobile' placeholder="(xxx)-xxx-xxxx"
                            value='<%=user.mobile %>'>
                    </div>
                    <div class="form-group">
                        <label for="selectTwo">Select User Permission</label>
                        <select class="form-control" id="userRole" name='userRole' multiple="multiple">
                           
                            <option  <% if (user.role.indexOf("Warehouse Fl")>-1) { %> selected <%}%> > Warehouse Fl</option>
                            <option <% if (user.role.indexOf("Admin")>-1) { %> selected <%}%>> Admin</option>
                            <option <% if (user.role.indexOf("Warehouse NAS")>-1) { %> selected <%}%>> Warehouse NAS</option>
                            <option <% if (user.role.indexOf("Store Access")>-1) { %> selected <%}%>> Store Access </option>
                            <option <% if (user.role.indexOf("Reports FL")>-1) { %> selected <%}%>> Reports FL</option>
                            <option <% if (user.role.indexOf("Reports NAS")>-1) { %> selected <%}%>> Reports NAS</option>
                            <option <% if (user.role.indexOf(" Create AWB")>-1) { %> selected <%}%>> Create AWB</option>
                            <option <% if (user.role.indexOf("Load Flight")>-1) { %> selected <%}%>> Load Flight</option>
                            <option <% if (user.role.indexOf("NAS Processing")>-1) { %> selected <%}%>> NAS Processing</option>
                            <option <% if (user.role.indexOf("Deliveries")>-1) { %> selected <%}%>>Deliveries </option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" id="cancelForm" class="btn btn-primary">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</form>

<% block('scripts').append('<script src="/js/adminUsers.js"></script>')%>