<% layout('./shared/__template')%>
<div class='gutters'>
	<div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
		<div class="card">
			<div class="card-header">
				<div class="card-title"><%=title%></div>
			</div>
			<div class="card-body">
				<div class="form-group row">
					<label for="locationId" class="ml-4 my-auto text-right">Select Location </label>
					<div class="col-lg-3 pl-0 ml-3">
						<select id="locationId">
							<option value="All" selected>All</option>
							<% locations.forEach(location => { %>
							<option value="<%= location.id %>"><%= location.name %></option>
							<% }) %>
						</select>
					</div>
				</div>
				<div class="separator-solid"></div>
				<div class="table-responsive">
					<table class="display table table-striped table-hover dataTable package-table">
						<thead>
							<tr>
								<th>Date Received</th>
								<th>Location</th>
								<th>Tracking No</th>
								<th>PMB - Consignee</th>
								<th>AWBID</th>
								<th>Description</th>
								<th>Weight</th>
							</tr>
						</thead>
						<tbody>
							<% packages.forEach(function(pkg){ %>
							<tr data-record="<%= pkg.id %>">
								<td><%= helpers.formatDate(pkg.createdAt)%></td>
								<td><%= pkg.location%></td>
								<td><%= pkg.trackingNo %></td>
								<td><%= pkg.customerId ? pkg.customerId.pmb + '-' + helpers.getFullName(pkg.customerId) : "" %></td>
								<td><a class="text-decoration-none" href="/warehouse/nas/awb/manage/<%=pkg.awbId._id%>/preview"><b><%= pkg.express ? '*': '' %></b><%= pkg.awbId.awbId %> </a></td>
								<td><%= pkg.description %></td>
								<td><%= pkg.weight + ' lbs'%></td>
							</tr>
							<%})%>
						  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	window.packages = <%- JSON.stringify(packages) %>;
</script>

<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/store/store-check-in.js"></script>')%>