<% layout('./shared/__template')%>

<form method='post' id='add-awb-form'>
  <div class='gutters'>
    <div class='col-xl-12 col-lg-6 col-md-12 col-sm-12'>
      <div class='card'>
        <div class="card-header">
          <h4 class="card-title">Create New AirWay Bill</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <input type='hidden' id="mid" value="0" />
              <input type='hidden' id="mtype" value="default" />
              <div class='form-group'>
                <span class='print-options pull-right mt-2' style='display:none;'>
                  <a id="print-awb" href='#'> <i class="fas fa-print" title='Print AWB'></i>Print AWB</a>
                  <a href="#">|</a>
                  <a id='print-lbl' href='#'><i title='Print Label' class="fas fa-print"></i>Print All Labels</a>
                </span>
              </div>
              <div class="form-group form-show-validation row">
                <label for="customerId" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Consignee</label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <select id="customerId" name="customerId" class='form-control' required>
                    <option></option>
                    <% customers.forEach(customer => { %>
                    <option value="<%=customer.id%>">
                      <%= customer.pmb + ' / ' + customer.firstName + ' ' + customer.lastName%>
                    </option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="form-group form-show-validation row">
                <label for="shipper" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Shipper</label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <select id="shipper" name="shipper" class='form-control' required>
                    <option></option>
                    <% shippers.forEach(shipper => { %>
                    <option value="<%=shipper.id%>"><%=shipper.name%></option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="form-group form-show-validation row">
                <label for="carrier" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Carrier</label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <select id="carrier" name="carrier" class='form-control' required>
                    <option></option>
                    <% shippers.forEach(shipper => { %>
                    <option value="<%=shipper.id%>"><%=shipper.name%></option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="form-group form-show-validation row">
                <label for="hazmat" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">HAZMAT</label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <select id="hazmat" name="hazmat" class='form-control' style='width:90%;'>
                    <option></option>
                    <% hazmats.forEach(hazmat => { %>
                    <option value="<%=hazmat.id%>"><%=hazmat.description%></option>
                    <%})%>
                  </select>
                </div>
              </div>
              <!-- <div class='form-group'>
                    <label>SED Required</label>
                    <input type='checkbox' class='form-control carrier' id="isSED" name='isSED' />
                  </div> -->
              <!-- <div class='form-group'>
                    <label>Has Invocie</label>
                    <input type='checkbox' class='form-control hasInvoice' id='hasInvoice' name='hasInvocie' />
                  </div> -->

              <div class="separator-solid"></div>
              <div class="form-group form-show-validation row">
                <label for="invFile" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Upload Invocie</label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <input type='file' class='form-control' id='invFile' name='invFile' />
                </div>
              </div>
              <div class="form-group form-show-validation row">
                <label for="invoiceNumber" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Invoice #</label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <input type='text' class='form-control' id='invoiceNumber' name='invoiceNumber' required />
                </div>
              </div>
              <div class="form-group form-show-validation row">
                <label for="value" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Value</label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <input type='text' class='form-control' id='value' name='value' required />
                  <a id='show-sed' data-toggle="modal" data-target="#alertSEDPOPUP"></a>
                  <input type='hidden' value="0" id='sedRequired' />
                </div>
              </div>
              <!-- <div class='form-group'>
                <a href="#" data-toggle="modal" data-target="#add-purchase-order-popup"> ADD Purchase
                  Order </a>
              </div> -->
              <div class="form-group form-show-validation row">
                <label for="awbNotes" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Notes</label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <input type='text' class='form-control' id='note' name='note' />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row mr-2 mb-3">
                <h2>Packages - <span class='awb'></span></h2>
                <a href="#add-package-popup" class="btn btn-small btn-info btn-add-package ml-auto">Add Package</a>
              </div>
              <table id='packageTable' class='display table table-striped table-hover'>
              </table>
            </div>
          </div>
        </div>
        <div class="card-action">
          <button class="btn btn-primary" type="submit">Create AWB</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div id='add-package-popup' class="card white-popup p-0 mfp-hide">
  <form method='post' id='add-package-form'>
    <div class="card-header">
      <div class="card-title text-center">Add Package to AWB</div>
    </div>
    <div class="card-body">
      <div class='form-group'>
        <button type='button' class="btn btn-small btn-info btn-copy-last">Copy Last Package</button>
      </div>
      <div class='form-group'>
        <label for="trackingNo">Tracking #</label>
        <input type='text' class='form-control' id='trackingNo' name='trackingNo' required />
      </div>
      <div class='form-group'>
        <label for="description">Description</label>
        <textarea type='text' class='form-control' id='description' name='description' rows="3" required></textarea>
      </div>
      <div class='form-group'>
        <label for="weight">Weight</label>
        <input type='number' class='form-control' id='weight' name='weight' step="0.01" required />
      </div>
      <div class='form-group'>
        <label for="packageType">Package Type</label>
        <select class='form-control' id='packageType' name="packageType" required>
          <option></option>
          <option>BOX</option>
          <option>BAG</option>
          <option>Envelope</option>
          <option>Pallet</option>
          <option>Suitcase</option>
          <option>Can</option>
          <option>Shrink Wrapped Box</option>
          <option>Shrink Wrapped Pallet</option>
          <option>Cooler</option>
          <option>Other</option>
        </select>
      </div>
      <div class='form-group'>
        <label for="packageNo">Package No</label>
        <div class='row'>
          <div class='col-md-4'>
            <input type='number' class='form-control weight' id='packageNo' name='packageNo' required />
          </div>
        </div>
      </div>
      <div class='form-group'>
        <label>Dimensions</label>
        <div class='row'>
          <div class='col-md-4'><input type='number' class='form-control dimensions' id='W' name='W' placeholder='W' />
          </div>
          <div class='col-md-4'><input type='number' class='form-control dimensions' id='H' name='H' placeholder='H' />
          </div>
          <div class='col-md-4'><input type='number' class='form-control dimensions' id='L' name='L' placeholder='L' />
          </div>
        </div>
      </div>
    </div>
    <div class="card-action text-center">
      <button class="btn btn-primary" type="submit" id='btn-add-package'>Add</button>
      <button class="btn btn-danger" type="button" id='btn-cancel-add'>Cancel</button>
    </div>
  </form>
</div>

<div class="modal fade" id="add-purchase-order-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel2">AWB PO</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <div class='form-group'>
          <label>P.O. #</label>
          <input type='text' class='form-control '>
        </div>
        <div class='form-group'>
          <label>Delivery</label>
          <input type='text' class='form-control '>
        </div>
        <div class='form-group'>
          <label>Pickup</label>
          <input type='text' class='form-control '>
        </div>
        <div class='form-group'>
          <label>MISC</label>
          <input type='text' class='form-control '>
        </div>
        <div class='form-group'>
          <label>Note</label>
          <input type='text' class='form-control '>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close-del" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success ship-manifest" id='ship-manifest'>Create PO</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="alertSEDPOPUP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel2">Is SED Required</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        The value of the this AWB is <span id='sedvalue'></span> which may pass the SED Limit. If one of the items are
        greater than $2500 this AWB requires the SED declaration.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary sed-click" data-dismiss="modal" data-id="0">No</button>
        <button type="button" class="btn btn-primary btn-success sed-click " data-dismiss="modal" data-id="1"
          id="sed-click">SED REQUIRED</button>

      </div>
    </div>
  </div>
</div>
<script>
  var rpackages = [];
</script>
<!-- <% block('scripts').append('<script src="/vendor/datatables/dataTables.min.js"></script>')%>
<% block('scripts').append('<script src="/vendor/datatables/dataTables.bootstrap.min.js"></script>')%>
<% block('scripts').append('<script src="/vendor/datatables/custom/fixedHeader.js"></script>')%> -->

<% block('scripts').append('<script src="/js/warehouse/awb/create.js"></script>')%>