<% layout('./shared/__template')%>
<div class='gutters'>
  <div class='col-xl-12 col-lg-6 col-md-12 col-sm-12'>
    <div class='card card-with-nav'>
      <div class="card-header">
        <div class="row row-nav-line">
          <ul class="nav nav-tabs nav-line nav-color-primary" id="awb-list-tab" role="tablist">
            <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#awb-list" role="tab"
                aria-selected="true">AirWay Bills</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#awb-no-docs" role="tab"
                aria-selected="false">No Docs</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#awb-no-packages" role="tab"
                aria-selected="false">Pending Awb</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#awb-pickups" role="tab"
                aria-selected="false">Awb Pickups</a> </li>
          </ul>
        </div>
      </div>
      <div class="card-body daterangepickerbody">
        <div class="tab-content m-4" id="awb-list-tabContent">
          <div class="tab-pane fade show active" id="awb-list" role="tabpanel" aria-labelledby="awb-list-tab">
            <div class="table-responsive">
              <table id='awb-table' class='display table table-striped table-hover dateRangeFilterTable dataTable'>
                <thead>
                  <tr>
                    <th>PMB</th>
                    <th>Date Received</th>
                    <th>AWB Number</th>
                    <th>Consignee</th>
                    <th>Shipper</th>
                    <th>Driver</th>
                    <th>Carrier</th>
                    <th>Pieces</th>
                    <th>Weight</th>
                    <!-- <th>Invoice</th> -->
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% awbs.forEach(function(awb){
                    if(awb.packages.length > 0){ %>
                  <tr data-record="<%= awb._id %>">
                    <td><%=(awb.customer && awb.customer.pmb)?awb.customer.pmb:'' %></td>
                    <td><%=helpers.formatDate(awb.createdAt)%></td>
                    <td><a href="manage/<%=awb._id%>/preview"><%=awb.awbId%></a></td>
                    <td><%=helpers.getFullName(awb.customer)%></td>
                    <td><%=awb.shipper.name %></td>
                    <td><%=awb.driver ? awb.driver.firstName +' ' + awb.driver.lastName:''%></td>
                    <td><%=awb.carrier.name %></td>
                    <td><%=awb.packages.length %></td>
                    <td><%=awb.weight %> lbs</td>
                    <!-- <td><% if(awb.invoice) { %>
                      <a class="btn btn-link btn-primary btn-invoice" data-id="<%=awb.invoice%>" data-toggle="tooltip"
                        data-original-title="Invoice Attached"> <i class="fa fa-paperclip"></i> </a>
                      <% } %>
                    </td> -->
                    <td class="text-center">
                      <a href='manage/<%=awb._id%>/get' class="btn btn-link btn-primary px-1" data-toggle="tooltip"
                        data-original-title="Edit"> <i class="fa fa-pen"></i> </a>
                      <!-- temporary commenting the code -->  
                      <!-- <a class="btn btn-link btn-danger btn-rm-awb p-1" data-toggle="modal" data-id="<%=awb._id%>"
                        data-target="#confirm-delete-awb"> <i class="fa fa-trash"></i> </a> -->
                      <a class="btn btn-link btn-primary btn-print-awb p-1" data-toggle="modal" data-id="<%=awb._id%>"
                        data-target="#print-popup"> <i class="fa fa-print"></i> </a>
                    </td>
                  </tr>
                  <%}})%>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Nodocs -->
          <div class="tab-pane fade" id="awb-no-docs" role="tabpanel" aria-labelledby="awb-no-docs-tab">
            <div class="table-responsive">
              <table id='no-docs-table' class='display table table-striped table-hover dateRangeFilterTable dataTable'>
                <thead>
                  <tr>
                    <th>PMB</th>
                    <th>Date Received</th>
                    <th>AWB Number</th>
                    <th>Consignee</th>
                    <th>Shipper</th>
                    <th>Carrier</th>
                    <th>Pieces</th>
                    <th>Weight</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% 
                  awbs.forEach(function(awb){
                    if(!awb.invoice) {
                  %>
                  <tr data-record="<%= awb._id %>">
                    <td><%= awb.customer && awb.customer.pmb %></td>
                    <td><%=helpers.formatDate(awb.createdAt)%></td>
                    <td><a href="manage/<%=awb._id%>/preview"><%=awb.awbId%></a></td>
                    <td><%= helpers.getFullName(awb.customer)%></td>
                    <td><%=awb.shipper.name %></td>
                    <td><%=awb.carrier.name %></td>
                    <td><%=awb.packages.length %></td>
                    <td><%=awb.weight %></td>
                    <td class="text-center">
                      <a href='manage/<%=awb._id%>/get' class="btn btn-link btn-primary p-1" data-toggle="tooltip"
                        data-original-title="Edit"> <i class="fa fa-pen"></i> </a>
                      <!-- <a class="btn btn-link btn-danger btn-rm-awb p-1" data-toggle="modal" data-id="<%=awb._id%>"
                        data-target="#confirm-delete-awb"> <i class="fa fa-trash"></i> </a> -->
                      <a class="btn btn-link btn-primary btn-print-awb p-1" data-toggle="modal" data-id="<%=awb._id%>"
                        data-target="#print-popup"> <i class="fa fa-print"></i> </a>
                    </td>
                  </tr>
                  <% }}) %>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End Nodocs -->
          <!-- Pending Awbs -->
          <div class="tab-pane fade" id="awb-no-packages" role="tabpanel" aria-labelledby="awb-no-packages-tab">
            <div class="table-responsive">
                <table id='pending-awb-table' class='display table table-striped table-hover dateRangeFilterTable dataTable'>
                <thead>
                  <tr>
                    <th>PMB</th>
                    <th>Date Received</th>
                    <th>AWB Number</th>
                    <th>Consignee</th>
                    <th>Shipper</th>
                    <th>Driver</th>
                    <th>Carrier</th>
                    <th>Pieces</th>
                    <th>Weight</th>
                    <!-- <th>Invoice</th> -->
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% awbs.forEach(function(awb){
                    if(awb.packages.length === 0) {
                      %>
                  <tr data-record="<%= awb._id %>">
                    <td><%=awb.customer.pmb %></td>
                    <td><%=helpers.formatDate(awb.createdAt)%></td>
                    <td><a href="manage/<%=awb._id%>/preview"><%=awb.awbId%></a></td>
                    <td><%=helpers.getFullName(awb.customer)%></td>
                    <td><%=awb.shipper.name %></td>
                    <td><%=awb.driver ? awb.driver.firstName +' ' + awb.driver.lastName:''%></td>
                    <td><%=awb.carrier.name %></td>
                    <td><%=awb.packages.length %></td>
                    <td><%=awb.weight %> lbs</td>
                    <!-- <td><% if(awb.invoice) { %>
                      <a class="btn btn-link btn-primary btn-invoice" data-id="<%=awb.invoice%>" data-toggle="tooltip"
                        data-original-title="Invoice Attached"> <i class="fa fa-paperclip"></i> </a>
                      <% } %>
                    </td> -->
                    <td class="text-center">
                      <a href='manage/<%=awb._id%>/get' class="btn btn-link btn-primary px-1" data-toggle="tooltip"
                        data-original-title="Edit"> <i class="fa fa-pen"></i> </a>
                      <!-- temporary commenting the code -->  
                      <!-- <a class="btn btn-link btn-danger btn-rm-awb p-1" data-toggle="modal" data-id="<%=awb._id%>"
                        data-target="#confirm-delete-awb"> <i class="fa fa-trash"></i> </a> -->
                      <a class="btn btn-link btn-primary btn-print-awb p-1" data-toggle="modal" data-id="<%=awb._id%>"
                        data-target="#print-popup"> <i class="fa fa-print"></i> </a>
                    </td>
                  </tr>
                  <%}})%>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End Pending Awbs -->
          <!-- Pickups Awbs -->
          <div class="tab-pane fade" id="awb-pickups" role="tabpanel" aria-labelledby="awb-pickups-tab">
            <div class="table-responsive">
                <table id='pickup-awb-table' class='display table table-striped table-hover dateRangeFilterTable dataTable'>
                <thead>
                  <tr>
                    <th>PMB</th>
                    <th>Date Received</th>
                    <th>AWB Number</th>
                    <th>Consignee</th>
                    <th>Shipper</th>
                    <th>Driver</th>
                    <th>Carrier</th>
                    <th>Pieces</th>
                    <th>Weight</th>
                    <!-- <th>Invoice</th> -->
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% awbs.forEach(function(awb){
                    if(awb.fll_pickup) {
                      %>
                  <tr data-record="<%= awb._id %>">
                    <td><%=awb.customer.pmb %></td>
                    <td><%=helpers.formatDate(awb.createdAt)%></td>
                    <td><a href="manage/<%=awb._id%>/preview"><%=awb.awbId%></a></td>
                    <td><%=helpers.getFullName(awb.customer)%></td>
                    <td><%=awb.shipper.name %></td>
                    <td><%=awb.driver ? awb.driver.firstName +' ' + awb.driver.lastName:''%></td>
                    <td><%=awb.carrier.name %></td>
                    <td><%=awb.packages.length %></td>
                    <td><%=awb.weight %> lbs</td>
                    <!-- <td><% if(awb.invoice) { %>
                      <a class="btn btn-link btn-primary btn-invoice" data-id="<%=awb.invoice%>" data-toggle="tooltip"
                        data-original-title="Invoice Attached"> <i class="fa fa-paperclip"></i> </a>
                      <% } %>
                    </td> -->
                    <td class="text-center">
                      <a href='manage/<%=awb._id%>/get' class="btn btn-link btn-primary px-1" data-toggle="tooltip"
                        data-original-title="Edit"> <i class="fa fa-pen"></i> </a>
                      <!-- temporary commenting the code -->  
                      <!-- <a class="btn btn-link btn-danger btn-rm-awb p-1" data-toggle="modal" data-id="<%=awb._id%>"
                        data-target="#confirm-delete-awb"> <i class="fa fa-trash"></i> </a> -->
                      <a class="btn btn-link btn-primary btn-print-awb p-1" data-toggle="modal" data-id="<%=awb._id%>"
                        data-target="#print-popup"> <i class="fa fa-print"></i> </a>
                    </td>
                  </tr>
                  <%}})%>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End Pickups Awbs -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm-delete-awb" tabindex="-1" role="dialog" aria-labelledby="confirm-del-title"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="confirm-del-title">Confirmation Required</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <input type='hidden' id='pkg-tracking' />
        Are you sure you want to delete this AirWay Bill?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger rm-awb" id='rm-awb'>Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="shipManifest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel2">Ship Manifest</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Enter AWB #</label>
        <input type='text' class='form-control awb'>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close-del" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success ship-manifest" id='ship-manifest'>Ship Manifest</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="print-popup" tabindex="-1" role="dialog" aria-labelledby="print-popup" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel2">Print AirWay Bill</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group text-center">
          <canvas id="pdf-preview" class="border border-dark"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger close-del" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary print-awb" id='print-awb'>Print</button>
      </div>
    </div>
  </div>
</div>

<% block('scripts').append('<script src="/js/warehouse/awb/list.js"></script>')%>