<% layout('./shared/__template')%>
<div class='gutters'>
  <div class='col-xl-12 col-lg-6 col-md-12 col-sm-12'>
    <div class='card card-with-nav'>
      <!-- <div class="card-header">
        <div class="row row-nav-line">
          <ul class="nav nav-tabs nav-line nav-color-primary" id="awb-list-tab" role="tablist">
            <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#awb-list" role="tab"
                aria-selected="true">No Docs Packages</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#awb-no-docs" role="tab"
                aria-selected="false">No Docs Packages Scanned</a> </li>
          </ul>
        </div>
      </div> -->
      <div id="myLoader"><img src="/img/preloader.gif"></div>
      <div class="card-body daterangepickerbody">
        <div class="tab-content m-4" id="awb-list-tabContent">
          <!-- <div class="tab-pane fade show active" id="awb-list" role="tabpanel" aria-labelledby="awb-list-tab">
            <div class="table-responsive">
              <table id='awb-table' class='display no-docs-table table table-striped table-hover dateRangeFilterTable dataTable'>
                <thead>
                    <tr>
                        <!-- <th><input id="checkall" type="checkbox" class="package-select-all" /></th> --
                        <th>Customer Name</th>
                        <th>OrignalScanDate</th>
                        <th>AWB</th>
                        <th>Original Tracking No</th>
                        <th>Package No</th>
                        <th>Aging</th>
                        <th>Aging $</th>
                        <th>Description</th>
                        <th>Zone</th>
                        <th>Type</th>
                        <th>Weight</th>
                        <th>Number of Pieces</th>
                        <th>Status</th>
                        <th>AirwareBillDate</th>
                        <th>ActualFlight</th>
                        <th></th>
                        <!-- <th></th> --
                      </tr>
                    </thead>
                    <tbody>
                      <% packages.forEach(function(pkg){ 
                        if(pkg.invoice){
                          %>
                          <tr data-record="<%= pkg._id %>">
                            <!-- <td>
                              <input type="checkbox" name="package-select" class="package-select" />
                            </td> --
                            <% if (pkg['customerId']) { %>
                              <td><%= (pkg['customerId'].lastName ? 
                                `${pkg['customerId'].firstName} ${pkg['customerId'].lastName}` : 
                                `${pkg['customerId'].firstName}`); %>
                              </td>
                              <% } else { %>
                                <td> - </td>
                                <% } %>
                                <td><%= helpers.formatDate(pkg.OrignalBarcodeDate) %></td>
                                <td><a class="text-decoration-none" href="../../nas/awb/manage/<%=pkg.awbId._id%>/preview"><b><%= pkg.express ? '*': '' %></b><%= pkg.awbId.awbId %> </a></td>
                                <td><%= pkg.originBarcode ? pkg.originBarcode.barcode: ''%></td>
                                <td><%= pkg.packageNumber ? pkg.packageNumber : ''%></td>
                                <td><%= pkg.aging ? pkg.aging:'' %></td>
                                <td>$<%= pkg.agingdollar ? pkg.agingdollar:0 %></td>
                                <td><%= pkg.description %></td>
                                <% if (pkg['zoneId'] && pkg['zoneId'].name) { %>
                                  <td><%= pkg['zoneId'].name %>
                                  </td>
                                  <% } else { %>
                                    <td> - </td>
                                    <% } %> 
                                    <td><%= pkg.packageType %></td>
                                    <td><%= pkg.weight%></td>
                                    <td><%= (pkg.pieces || pkg.pieces > -1) ? pkg.pieces : ''%></td>
                                    <td class="lastStatusText_field"><%= pkg.lastStatusText %></td>
                                    <td><%= pkg.awbCreatedAt %></td>
                                    <td><%= pkg.actualFlight %></td>
                                    <!-- <td><a href="../pkg-label/download/<%=pkg._id%>"><i class="fa fa-download"></i></a></td> --
                                    <td class="text-center">
                                      <a href="../pkg-label/download/<%=pkg._id%>"><i class="fa fa-download"></i></a>
                                      <a
                                      class="btn btn-link btn-primary btn-print-pkg"
                                      data-toggle="modal"
                                      data-id="<%=pkg._id%>"
                                      data-original-title="Print Label"
                                      data-target="#print-popup"
                                      ><i class="fa fa-print"></i>
                                    </a>
                                  </td>
                                </tr>
                                <%}})%>
                              </tbody>
                            </table>
                          </div>
                        </div> -->
                        <!-- Nodocs -->
                        <!-- <div class="tab-pane fade" id="awb-no-docs" role="tabpanel" aria-labelledby="awb-no-docs-tab"> -->
                          <div class="table-responsive">
                            <input type="hidden" name="clear" id="clear" value="<%=clear%>">
                            <table id='no-docs-table' class='display no-docs-table table table-striped table-hover dateRangeFilterTable dataTable'>
                              <thead>
                                <tr>
                                  <!-- <th><input id="checkall" type="checkbox" class="package-select-all" /></th> -->
                                  <th>Customer Name</th>
                                  <th>OrignalScanDate</th>
                        <th>AWB</th>
                        <th>Original Tracking No</th>
                        <th>Package No</th>
                        <th>Aging</th>
                        <th>Storage Fees</th>
                        <th>Description</th>
                        <th>Zone</th>
                        <th>Location</th>
                        <th>Type</th>
                        <th>Weight</th>
                        <th>Number of Pieces</th>
                        <th>Status</th>
                        <th>AirwareBillDate</th>
                        <th>ActualFlight</th>
                        <th></th>
                        <!-- <th></th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <% packages.forEach(function(pkg){ 
                      if(pkg.lastStatusText == 'No Invoice Present' && pkg.invoice){
                        %>
                        <tr data-record="<%= pkg._id %>">
                          <!-- <td>
                            <input type="checkbox" name="package-select" class="package-select" />
                          </td> -->
                          <% if (pkg['customerId']) { %>
                            <td><%= (pkg['customerId'].lastName ? 
                              `${pkg['customerId'].firstName} ${pkg['customerId'].lastName}` : 
                              `${pkg['customerId'].firstName}`); %>
                            </td>
                            <% } else { %>
                              <td> - </td>
                              <% } %>
                              <td><a href="/warehouse/pkg-label-excel/download/<%=pkg._id%>"> <%= helpers.formatDate(pkg.OrignalBarcodeDate) %></a></td>
                              
                        <td><a class="text-decoration-none" href="../../nas/awb/manage/<%=pkg.awbId._id%>/preview"><b><%= pkg.express ? '*': '' %></b><%= pkg.awbId.awbId %> </a></td>
                        <td><%= pkg.originBarcode ? pkg.originBarcode.barcode: ''%></td>
                        <td><%= pkg.packageNumber ? pkg.packageNumber : ''%></td>
                        <td><%= pkg.aging ? pkg.aging:'' %></td>
                        <td>$<%= pkg.agingdollar ? pkg.agingdollar:0 %></td>
                        <td><%= pkg.description %></td>
                    <% if (pkg['zoneId'] && pkg['zoneId'].name) { %>
                      <td><%= pkg['zoneId'].name %>
                      </td>
                      <% } else { %>
                        <td> - </td>
                        <% } %> 
                        <td><%= (pkg.location) ? pkg.location : '' %></td>
                        <td><%= pkg.packageType %></td>
                        <td><%= pkg.weight%></td>
                        <td><%= (pkg.pieces || pkg.pieces > -1) ? pkg.pieces : ''%></td>
                        <td class="lastStatusText_field"><%= pkg.lastStatusText %></td>
                        <td><%= pkg.awbCreatedAt %></td>
                        <td><%= pkg.actualFlight %></td>
                        <!-- <td><a href="../pkg-label/download/<%=pkg._id%>"><i class="fa fa-download"></i></a></td> -->
                        <td class="text-center">
                          <a href="/warehouse/pkg-label/download/<%=pkg._id%>"><i class="fa fa-download"></i></a>
                          <a
                          class="btn btn-link btn-primary btn-print-pkg"
                          data-id="<%=pkg._id%>"
                          data-original-title="Print Label"
                          data-target="#print-popup"
                          ><i class="fa fa-print"></i>
                        </a>
                      </td>
                    </tr>
                    <%}})%>
                  </tbody>
                </table>
              </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="print-popup" tabindex="-1" role="dialog" aria-labelledby="print-popup" aria-hidden="true"
style="display: none;">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title" id="exampleModalLabel2">Print AirWay Bill</h2>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group text-center">
        <canvas id="pdf-preview" class="border border-dark"></canvas>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger close-del" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary print-package" id='print-awb'>Print</button>
    </div>
  </div>
</div>
</div>
<script>
  var pageUrl = page ? page: '';
</script>
<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/warehouse/awb/no-docs-packages.js"></script>')%>